<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<style>
.tooltip {
    position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width:120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
</style>
{% block head %}
<title>{% block title %}{% endblock %}</title>
{% endblock %}
</head>
<body>
<div class="pure-menu pure-menu-horizontal" style="background-color: #F0F0F0;">
<span class="pure-menu-heading">Schedul(e)r</span>
<ul class="pure-menu-list">
    {% if not current_user.is_authenticated %}
    <li class="pure-menu-item"><a href="{{url_for('login')}}" class="pure-menu-link">Login</a></li>
    <li class="pure-menu-item"><a href="{{url_for('register')}}" class="pure-menu-link">Register</a></li>
    {% else %}
    <li class="pure-menu-item"><a href="{{url_for('friends')}}" class="pure-menu-link">Friends</a></li>
    <li class="pure-menu-item"><a href="{{url_for('groups')}}" class="pure-menu-link">Groups</a></li>
    <li class="pure-menu-item"><a href="{{url_for('schedule')}}" class="pure-menu-link">Schedule</a></li>
    <li class="pure-menu-item"><a href="{{url_for('logout')}}" class="pure-menu-link">Logout of {{current_user.id}}</a></li>
    {% endif %}
</ul>
</div>
    <div id="content" style="padding-left:20px;">
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>
