{% extends "base.html" %}
{% block title %}Friends{% endblock %}
{% block content %}
<h1>Friends</h1>
<form method="post" class="pure-form">
<fieldset>
<legend>Add a friend</legend>
<input type="text" name="friend_id" placeholder="Friend Username">
<button type="submit" class="pure-button pure-button-primary">Add</button>
</fieldset>
</form>
<h2>Available Friends</h2>
<ul>
{% for friend in friends %}
    {% if friend[2] or (not friend[2] and not friend[3]) %}
        <li>{{ friend[1] }}
        {% if friend[2] %}is available until {{friend[2].strftime('%A %B %d at %-H:%M')}}{% endif %}</li>
    {% endif %} 
{% endfor %}
</ul>
<h2>Unavailable Friends</h2>
<ul>
{% for friend in friends %}
    {% if not friend[2] and friend[3]%}
        <li>{{ friend[1] }} is unavailable until {{friend[3].strftime('%A %B %d at %-H:%M')}}</li>
    {% endif %} 
{% endfor %}
</ul>
{% endblock %}
