{% extends "base.html" %}
{% block title %}Scheduling{% endblock %}
{% block content %}
<h1>My Schedule</h1>
<table>
<thead>
    <tr>
        <th></th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
    </tr>
</thead>
<tbody>
{% for i in range(96) %}
    <tr>
    {% if not i % 4 %}
        <td rowspan="4">{{ i // 4 }}:00</td>
    {% endif %}
    {% for j in range(7) %}
        {% if table[j][i][0] %}
        <td style="height: 6px; width: 40px; background-color: #0A0AFF;" class="tooltip"><span class="tooltiptext">{{table[j][i][1]}}</span></td>
        {% else %}
        <td style="height: 6px; width: 40px; background-color: lightblue;"></td>
        {% endif %}
    {% endfor %}
    </tr>
{% endfor %}
</tbody>
</table>
<br>
<form enctype="multipart/form-data" method="POST" action="{{url_for("import_calendar")}}" class="pure-form">
<fieldset>
<legend>Import an iCal (.ics)</legend>
<input type="file" name="calendar">
<button type="submit" class="pure-button pure-button-primary">Import</button>
</fieldset>
</form>
<br>
<form method="POST" class="pure-form pure-form-stacked">
<fieldset>
<legend>Add an event</legend>
Event Name:
<input type="text" name="eventname">
Start Date:
<input type="date" name="startDate">
Start Time:
<input type="time" name="startTime">
End Date:
<input type="date" name="endDate">
End Time:
<input type="time" name="endTime">
<button type="submit" class="pure-button pure-button-primary">Add Event</button>
</fieldset>
</form>
{% endblock %}
